#canvasContainer {
    position: relative;
    height: 400px;
    width: 800px;
    border: 1px solid black;
    margin-top: 50px;
}

.dot {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
}

.submitForm {
    margin-top: 20px;
}

.coordinateInput{
    width: 60px;
    text-align: center;
}


#container {
    display: flex;
    justify-content: space-between;
}

#goalListDiv{
    margin-left: 1000px;
    position: absolute;
}

#exportButton{
    margin-top: 20px;
}

#input{
    display: flex;
}

#wallForm{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#pickupForm{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#qrCodeForm{
    margin-left: 100px;
}

#robotForm{
    margin-left: 100px;
}